@{
    ViewBag.Title = "About";
}
<br />
<h3>Building a happier workplace, one job at a time</h3>
<p>
    At Taylor Professional Services, we understand the importance of employee happiness to your organization. Higher levels of employee engagement lead to greater productivity. And workers who feel valued are motivated to make real, tangible contributions to the company.
    <br /><br />Let us help you find temporary or full-time professionals who fit your company and get tremendous satisfaction from working to solve your business challenges.
    <br /><br />If you’re searching for a new job, or just feeling less engaged with your role than you'd like to be, let us assist you in locating a career opportunity where you can fit and thrive.
    <br /><br />IT’S TIME WE ALL WORK HAPPY.
</p>
<br />
<br />
<br />
<br />
<h3>ESG mission statement</h3>
<p>
    Taylor Professional Services helps people find rewarding work and clients find the right talent to grow their businesses, and our goal is to adhere to the highest ethical standards when doing so. This commitment is reflected in our policies and programs that support universal human rights; respect the diversity of our employees, customers and business partners; form the foundation of our philanthropic endeavors; and protect the environment in the communities we serve.
</p>