@{
    ViewBag.Title = "Home Page";
}
   
        <div class="jumbotron">
            <div class="row">
                <div class=col-md-6>
                    <h1>Taylor Pro Services</h1>
                    <p class="lead">We're here to serve your staffing needs!</p>
                    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/images/40001859-happy-smiling-business-team-in-office.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Looking for a job?</h2>
                <p>
                    Submit your application here, and you&rsquo;ll be matched with hundreds of potential jobs.  Our
                    expert contract managers will find the right job for you!
                </p>
                <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>Looking to hire someone?</h2>
                <p>
                    Sign up today, and you&rsquo;ll receive a 10% discount off our normal fee price.  Hire 4 or more
                    staff from TPS, and we&rsquo;ll give you 20% off!
                </p>
                <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>
